header {
    display:flex;
    justify-content: space-between;
    background-color: rgb(57, 112, 160);
    margin: 1.5rem;
    padding: 0.7rem;
}

body {
    background-color: var(--lightgray); 
    font-family: 'Martel', serif;
}

.nav-effects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.nav-effects li {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 40px;
}

.nav-effects li a {
    text-decoration: none;
    color: black; 
    font-size: 25px;
}

.hero {
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.075)),url(./Images/stock-image-1.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:azure;
    margin-bottom: 1rem;
}

.hero-subtitle {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-bottom: 15px; 
   padding-right: 15px;
   font-size: 2.8vw;
}

article {
    display: flex;
    margin: 1rem 0.5rem;
}

.about-me-grid-container {/*CSS Grid*/
    /* Create a 3X6 grid for smaler screen */
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
    /* Gap on x and y grid */
    gap: 5px 5px; 
}

.About-me-wrapper  {
    border-right:2px solid black;
}

.about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid;
}

.About-me-item p {
    margin-right: 10px;
    padding-top: 10px;
    font-size: 35px;
    height: 0rem;
    text-align: right;
    padding-right: 10px;
}

.about-me-item.p1 {
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
}

.about-me-item.p2 {
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    padding-bottom: 10px;
}

.Projects-wrapper { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 50px;
}

.Projects-item {
    margin-right: 10px;
    padding-top: 10px;
    font-size: 35px;
    height: 15rem;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid;
}

.footer-wrapper { /* Flex container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    /* Apply background to all of the body of the page */
    background-color: var(--header-footer-background-color); 
    color: var(--lightskyblue); /* Title color */
}
  
.footer-grid-item {
    text-decoration: none;
    border-bottom: 2px solid var(--lightskyblue); /* Border bottom */
    color: var(--lightskyblue); /* anchor text color */
    font-size: 1.8vw; /* View port font-size to help with responsiveness */
    font-weight: solid;
}

.footer-container { /* CSS Grid */
    width: 80%;
    display: grid;
    /*create a 4X3 grid. */
    grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid with the first column smaller than the others 3 */
    grid-template-rows: repeat(3,2fr); /* 3 rows of slighty biger size as a test */
    gap: 20px 20px; 
  }

.footer-grid-item.contact-me {
    padding-top: 10px;
    font-size: 35px;
    grid-row: 1 / span 3;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid;
}

.Projects-grid-container {/* CSS Grid */
    /* Create a 3X9 grid for smaler screen */
    /* Will assign size directly to avoid grid span */
    grid-template-columns: repeat(3, 1fr);
    /* .5fr is to fix spacing on main title item */
    grid-template-rows: .5fr repeat(10, 1fr);
    /* Gap on x and y grid */
    gap: 2.5px 2.5px;
  }









